<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Контакты</h4>
        <h5><a href="tel:+79252754945">+7 (925) 275-49-45</a></h5>
        <h5><a href="mailto:info@atelierkondakova.com"><strong>info@atelierkondakova.com</strong></a></h5>

        <hr class="visible-sm visible-xs">

        <h4>Оставайтесь на связи</h4>
        <p class="social">
          <a href="https://m.facebook.com/atelierkondakova/"><i class="fa fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/atelierkondakova/"><i class="fa fa-instagram"></i></a>
          <a href="mailto:info@atelierkondakova.com"><i class="fa fa-envelope"></i></a>
          <a href="tel:+79252754945"><i class="fa fa-phone-square"></i></a>
          <a href="#" onclick='alert("Извините, ссылка сломалась..");return false;'><i class="fa fa-pinterest-square"></i></a>
        </p>

        <hr class="visible-sm visible-xs">
      </div>

      <div class="col-md-4">
        <h4>Информация</h4>
        <ul class="navbar menu-bottom">
          <li><a href="#info#order">Как сделать заказ</a></li>
          <li><a href="#info#sizes">Таблица размеров</a></li>
          <li><a href="#info#delivery">Доставка и Оплата</a></li>
          <li><a href="#info#return">Обмен и возврат</a></li>
        </ul>
        <hr class="visible-sm visible-xs">
      </div>

      <div class="col-md-4">
        <h4>Рассылка</h4>
        <form style='padding: 0 25%;' id='letters_form'>
          <div class="form-group">
            <input type="text" class="form-control  input-sm" name="letters_name" value="" placeholder="Ваше Имя">
          </div>

          <div class="form-group">
            <input type="email" class="form-control  input-sm" name="letters_email" value="" placeholder="Ваш email">
          </div>

          <input type="submit" class="btn btn-primary btn-sm" name="" value="Подписаться на рассылку" id="approve_on_letters" data-toggle='modal' data-target='#modal-approve-on-letters' onclick='return false;'>

        </form>
        <hr class="visible-sm visible-xs">
      </div>

      <div class="modal fade" id="modal-approve-on-letters" tabindex="-1" role="dialog" aria-hidden="false" style="">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style='border:none;padding:15px;'>
              <span>Вы подписались на рассылку!</span>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style='color:#333;opacity:.6;'>Закрыть × </button>
            </div>
            <div class="modal-body">
              <span>Мы благодарим Вас за подписку на нашу рассылку!</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>