<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Как нас найти</h4>
                <p>
                    <strong>г.Москва,</strong>
                    <br>Ленинградский проспект, д.37, корп.3
                    <br>офис 1115, БЦ "Авиатор"
                    <br>Шоу-рум работает по предварительной записи
                </p>
                <a href="#!contacts#map">Посмотреть на карте</a>
                <hr class="visible-sm visible-xs">
            </div>

            <div class="col-md-4">
                <h4>Контакты</h4>
                <h5><a href="tel:+79252754945">+7 (925) 275-49-45</a></h5>
                <h5><a href="mailto:info@atelierkondakova.com"><strong>info@atelierkondakova.com</strong></a></h5>

                <hr class="visible-sm visible-xs">

                <h4>Оставайтесь на связи</h4>
                <p class="social">
                    <a href="https://m.facebook.com/atelierkondakova/"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/atelierkondakova/"><i class="fa fa-instagram"></i></a>
                    <a href="mailto:info@atelierkondakova.com"><i class="fa fa-envelope"></i></a>
                    <a href="tel:+79252754945"><i class="fa fa-phone-square"></i></a>
                    <a href="#" onclick='alert("Извините, ссылка сломалась..");return false;'><i class="fa fa-pinterest-square"></i></a>
                </p>

                <hr class="visible-sm visible-xs">
            </div>

            <div class="col-md-4">
                <h4>Информация</h4>
                <ul class="navbar menu-bottom">
                    <li><a href="#info#order">Как сделать заказ</a></li>
                    <li><a href="#info#sizes">Таблица размеров</a></li>
                    <li><a href="#info#delivery">Доставка и Оплата</a></li>
                    <li><a href="#info#return">Обмен и возврат</a></li>
                </ul>
                <hr class="visible-sm visible-xs">
            </div>

            <!--<div class="col-md-4">-->
            <!--<h4>Задать вопрос</h4>-->
            <!--<form class="">-->
            <!--<div class="form-group">-->
            <!--<label class="control-label"><strong>Имя</strong></label>-->
            <!--<div class="">-->
            <!--<input type="text" name="name" class="form-control" required-->
            <!--placeholder="Анастасия">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label class="control-label"><strong>E-mail</strong></label>-->
            <!--<div class="">-->
            <!--<input type="email" name="email" class="form-control" required-->
            <!--placeholder="myemail@mail.ru">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label class="control-label"><strong>Телефон</strong></label>-->
            <!--<div class="">-->
            <!--<input type="tel" name="phone" class="form-control" required-->
            <!--placeholder="89161234567">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label class="control-label"><strong>Сообщение</strong></label>-->
            <!--<div class="">-->
            <!--<textarea rows="2" name="message" class="form-control"-->
            <!--placeholder="Текст вашего сообщения"></textarea>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<div class="">-->
            <!--<button type="submit" class="btn btn-primary">Отправить</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</form>-->
            <!--</div>-->
        </div>
    </div>
</div>