<div class="navbar navbar-default navbar-fixed-top yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand home" href="index.html" target="_self">
                <!-- <img src="img/kondakova-logo.png" alt="AKondakova" class="hidden-xs hidden-sm" height="56"> -->
                <img src="img/kondakova-logo__new.png" alt="AKondakova" class="hidden-xs hidden-sm" height="56">
                <img src="img/logosmall.png" alt="AKondakova" class="visible-xs visible-sm"><span class="sr-only">AKondakova</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle btn-primary" data-toggle="collapse"
                        data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <a class="btn btn-primary navbar-toggle" href="#basket">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="hidden-xs">Корзина</span>
                </a>
                <!--<button type="button" class="navbar-toggle btn-default" data-toggle="collapse" data-target="#search">-->
                <!--<span class="sr-only">Toggle search</span>-->
                <!--<i class="fa fa-search"></i>-->
                <!--</button>-->
                <!--<button type="button" class="navbar-toggle btn-default" data-toggle="modal" data-target="#login-modal">-->
                <!--<span class="sr-only">User login</span>-->
                <!--<i class="fa fa-users"></i>-->
                <!--</button>-->

            </div>
        </div>
        <!--/.navbar-header -->

        <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav navbar-left">
                <li><a class="menu-item" href="#about">О бренде</a></li>
                <li class="dropdown normal-dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Коллекции<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#collections">FALL-WINTER 2015/2016</a></li>
                        <li><a href="#info#order">old reference</a></li>
                    </ul>
                </li>

                <li><a class="menu-item" href="#shop">Магазин</a></li>
<!--                 <li class="dropdown normal-dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Информация<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#info#order">Как сделать заказ</a></li>
                        <li><a href="#info#sizes">Таблица размеров</a></li>
                        <li><a href="#info#delivery">Доставка и Оплата</a></li>
                        <li><a href="#info#return">Обмен и возврат</a></li>
                    </ul>
                </li> -->
                <li><a class="menu-item" href="#news">Новости</a></li>
                <li><a class="menu-item" href="#contacts">Контакты</a></li>
                <li><a class="menu-item" href="#press">Пресса</a></li>
            </ul>

        </div>
        <!--/.nav-collapse -->

        <div class="navbar-collapse collapse right" id="basket-overview">
            <a href="#basket" class="btn btn-default navbar-btn">
                <i class="fa fa-shopping-cart"></i>
                <span class="hidden-sm">Корзина</span></a>
        </div>
        <!--/.nav-collapse -->

        <!--<div class="navbar-collapse collapse right">-->
        <!--<button type="button" class="btn navbar-btn btn-default" data-toggle="collapse" data-target="#search">-->
        <!--<span class="sr-only">Toggle search</span>-->
        <!--<i class="fa fa-search"></i>-->
        <!--</button>-->
        <!--</div>-->

        <!--<div class="navbar-collapse collapse right">-->
        <!--<button type="button" class="btn navbar-btn btn-default" data-toggle="modal" data-target="#login-modal">-->
        <!--<span class="sr-only">User login</span>-->
        <!--<i class="fa fa-users"></i>-->
        <!--</button>-->
        <!--</div>-->

        <!--<div class="collapse clearfix" id="search">-->

        <!--<form class="navbar-form" role="search">-->
        <!--<div class="input-group">-->
        <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--<span class="input-group-btn">-->

        <!--<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>-->

        <!--</span>-->
        <!--</div>-->
        <!--</form>-->

        <!--</div>-->
        <!--/.nav-collapse -->

    </div>


</div>
