<div id="content">
  <div class="container">
    <div class="col-md-12">
      <div class="box text-center">

        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <h1>Заголовок</h1>
            <p class="text-italic text-muted">Написано <a href="#">Автор</a> | Дата </p>
            <p class="lead">Вводящий в курс параграф для привлечения внимания</p>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-12" id="blog-post">
      <div id="post-content">
        <p><strong>Жирный текст</strong> а это обычный текст amestortor quams eget, tempor <mark>еще выделенный текст</mark>, ante. Donec eu libero sit amet quam egestas semper. <em>Курсивный текст</em> Mauris
          placerat eleifend leo. Quisque sitm erat wisi, condimentum sed, <code>Выделенный текст</code>, ornare sitit eget tincidunt condimentuac dui. <a href="#">ссылка на ресурс</a> in turpis pulvinar facilisis. Ut felis.</p>

        <p><img src="img/blog2.jpg" class="img-responsive" alt="Example blog post alt"></p>

        <h2>Заголовок уровня 2</h2>
        <ol>
          <li>Элемент 1 списка с цифрой</li>
          <li>Элемент 2 списка с цифрой</li>
        </ol>

        <blockquote>
          <p>Цитата: текст текст текс</p>
        </blockquote>

        <h3>Заголовок уровня 3</h3>

        <p>Тект Текст Текст Текст Текст Текст Текст Текст</p>

        <ul>
          <li>Элемент 1 списка с кружочком</li>
          <li>Элемент 2 списка с кружочком</li>
        </ul>

        <p><img src="img/blog.jpg" class="img-responsive" alt="Example blog post alt"></p>

        <p>Текст Текст Текст</p>

      </div>
    </div>
  </div>
</div>