<!--     <div id="all">
  <div id="content"> -->


    <div class="container">
      <div class="box text-center">
        <h3 class="text-uppercase">Магазин</h3>
      </div>
<!--                 <div class="col-md-12">
                    <ul class="breadcrumb">

                        <li><a href="index.html">Home</a>
                        </li>
                        <li>Shopping cart</li>
                    </ul>


                    <div class="box text-center">

                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h1>Shopping cart</h1>
                                <p class="text-muted">You currently have 3 item(s) in your cart.</p>
                            </div>
                        </div>
                    </div>

                </div>

                -->
            <div class="col-md-9 clearfix" id="basket">

              <div class="">

                <form method="post" action="checkout1.html">

                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th colspan="2">Позиция</th>
                          <th>Количество</th>
                          <th>Цена за шт.</th>
                          <th>Скидка</th>
                          <th colspan="2">Всего</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <a href="#">
                              <img src="img/detailsquare.jpg" alt="White Blouse Armani">
                            </a>
                          </td>
                          <td><a href="#">White Blouse Armani</a>
                          </td>
                          <td>
                            <input type="number" value="2" class="form-control" min='1'>
                          </td>
                          <td>123.00</td>
                          <td>0.00</td>
                          <td>246.00</td>
                          <td><a href="#"><i class="fa fa-trash-o"></i></a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a href="#">
                              <img src="img/basketsquare.jpg" alt="Black Blouse Armani">
                            </a>
                          </td>
                          <td><a href="#">Black Blouse Armani</a>
                          </td>
                          <td>
                            <input type="number" value="1" class="form-control" min='1'>
                          </td>
                          <td>200.00</td>
                          <td>0.00</td>
                          <td>200.00</td>
                          <td><a href="#"><i class="fa fa-trash-o"></i></a>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th colspan="5">Итого</th>
                          <th colspan="2">446.00</th>
                        </tr>
                      </tfoot>
                    </table>

                  </div>
                  <!-- /.table-responsive -->

                  <div class="box-footer">
                    <div class="pull-left">
                      <a href="" class="btn btn-default"><i class="fa fa-chevron-left"></i> Продолжить покупки</a>
                    </div>
                    <div class="pull-right">
                      <button type="button" class="btn btn-default"><i class="fa fa-refresh"></i> Обновить корзину</button>
                      <button type="button" class="btn btn-primary">Оформить заказ <i class="fa fa-chevron-right"></i>
                      </button>
                    </div>
                  </div>

                </form>

              </div>
              <!-- /.box -->

            </div>
            <!-- /.col-md-9 -->
         </div>
         <!-- /.container -->
       <!-- </div> -->
       <!-- /#content -->
      <!-- </div> -->
      <!-- /#all -->