<div class="container" id="collections">
    <div class="box text-center">
        <h3 class="text-uppercase"></h3>
    </div>

    <div class="modal fade" id="product-quick-view-modal" tabindex="-1" role="dialog" aria-hidden="false" style="">
      <div class="modal-dialog">
      <!--  modal-lg -->
        <div class="modal-content">
          <div class="modal-header" style='border:none;padding:15px;'>
          <!--  visible-xs-inline-block -->
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Закрыть фотографию</button>
            <!-- <button type="button" class="close hidden-xs" data-dismiss="modal" aria-hidden="true">×</button> -->
          </div>
          <div class="modal-body">


            <div class="row quick-view product-main">
              <div class="col-sm-12">
                <div class="quick-view-main-image">
                  <img src="img/detailbig1.jpg" alt="" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="collections-content" class="row products">
    </div>

<!--     <div class="quick-view-button">
      <a href="" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a>
    </div> -->

    <div class=text-center>
      <p>Photo: Maria Kultchitskaya</p>
      <p>Style: Anastasia Kondakova</p>
    </div>

</div>