<div class="container" id="contacts">
    <div class="box">
        <h3 class="text-uppercase" style="text-align: center;">Контакты</h3>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h3><i class="fa fa-map-marker"></i> Адрес</h3>
            <p>
                <b>г.Москва,</b>
                <br>Ленинградский проспект, д.37, корп.3, офис 1115, БЦ "Авиатор"
                <br>Шоу-рум работает по предварительной записи
            </p>
        </div>
        <div class="col-sm-4">
            <h3><i class="fa fa-phone"></i> Для связи</h3>
            <p>
                <a href="tel:+79252754945">
                    <strong>
                        <!--<i class="fa fa-phone-square"></i> -->
                        +7 (925) 275-49-45
                    </strong>
                </a>
                <br>
                <a href="mailto:info@atelierkondakova.com">
                    <strong>
                        <!--<i class="fa fa-envelope-square"></i> -->
                        info@atelierkondakova.com
                    </strong>
                </a>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <div id="map" style="width: 100%; height:300px;"></div>
        </div>
    </div>
</div>