<div class="container" id="information">
    <div class="box">
        <h3 class="text-uppercase" style="text-align: center;">Информация</h3>
    </div>
    <div id="information-content">
        <div>
            <h3 id="order">Как сделать заказ</h3>
            <ol>
                <li>Выбрать понравившуюся модель и перейти к закладке информации об изделии, кликнув
                    на фото.
                </li>
                <li>Выбрать размер, сверив с <a href="" ng-click="scrollTo('sizes')">Таблицей
                    размеров.</a>
                    <br>
                    Все наши изделия выполнены по ГОСТу, но с учетом особенностей типажей женских
                    фигур, что дает
                    безупречную
                    посадку. Если Вы предпочитаете изготовить изделие по индивидуальным меркам,
                    просим заранее
                    сообщить
                    нашему
                    менеджеру и уточнить условия выполнения заказа.
                </li>
                <li>Перейти в корзину и проверить правильность заказа.</li>
                <li>Заполнить карточку с контактной информацией и нажать «Отправить».</li>
                <li>Ваш заказ будет обработан и в течение суток с Вами свяжется наш менеджер для
                    обсуждения деталей
                    доставки.
                </li>
            </ol>
            <hr>
        </div>

        <div class="hidden-xs hidden-sm">
            <h3 id="sizes">Таблица размеров</h3>
            <div style="margin-bottom: 40px;">
                <table id="sizes-table" class="table table-bordered table-hover table-responsive">
                    <thead>
                    <tr>
                        <td>Размер Российский</td>
                        <td>Обхват груди (см)</td>
                        <td>Обхват талии (см)</td>
                        <td>Обхват бедер (см)</td>
                        <td>Размер Европейский</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>40</td>
                        <td>80-82</td>
                        <td>60-62</td>
                        <td>86-88</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>42</td>
                        <td>84-86</td>
                        <td>64-66</td>
                        <td>90-92</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td>44</td>
                        <td>88-90</td>
                        <td>68-70</td>
                        <td>94-96</td>
                        <td>38</td>
                    </tr>
                    <tr>
                        <td>46</td>
                        <td>92-94</td>
                        <td>72-74</td>
                        <td>98-100</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>48</td>
                        <td>96-98</td>
                        <td>76-78</td>
                        <td>104-106</td>
                        <td>42</td>
                    </tr>
                    <tr>
                        <td>50</td>
                        <td>100-102</td>
                        <td>80-82</td>
                        <td>108-110</td>
                        <td>44</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr>
        </div>

        <div>
            <h3 id="delivery">Доставка и Оплата</h3>
            <p class="nomargin">
                Мы решили сэкономить Ваше время и предложить услугу «Доставка». Доставка выбранного
                товара
                осуществляется по
                Москве и России. Доставка в другие страны – по договоренности.
            </p>
            <p class="nomargin">
                Доставка осуществляется курьерской службой, предлагающей наиболее выгодный вариант
                для Вашего
                города.
            </p>
            <p class="nomargin">
                При получении товара курьер предоставит Вам накладную и чек. Оплата за выезд курьера
                взимается даже
                в
                том
                случае, если Вы ничего не купили.
            </p>
            <p class="nomargin">
                Оплата производится как наличными курьеру, так и банковским переводом на наш
                расчетный счет, который
                мы
                отправим
                на Ваш электронный адрес после оформления заказа. Просим заранее указать вариант
                Оплаты, т.к. срок
                зачисления
                денежных средств - до 3-х рабочих дней.
            </p>
            <p>
                Заказ аннулируется в случае, если оплата не будет получена в течение 5 рабочих дней
                с момента
                выставления
                счета.
            </p>
            <hr>
        </div>

        <div>
            <h3 id="return">Обмен и возврат</h3>
            <p class="nomargin">
                Согласно «Закону о защите прав потребителя» обмен и возврат возможен в срок до 14
                дней с момента
                доставки
                заказа
                клиенту.
            </p>
            <p class="nomargin">
                Возврат товара надлежащего качества принимается, если сохранен его товарный вид
                (упаковка, пломбы,
                ярлыки),
                товар не был в употреблении, а также сохранен документ, подтверждающий факт и
                условия приобретения
                товара
                (товарный или кассовый чек).
            </p>
            <p>
                Обмен товара также производится в течение 14 дней с момента доставки товара. Просим
                заранее сообщить
                о
                Вашем
                желании нашему менеджеру. Мы с удовольствием обменяем товар на аналогичный, нужного
                размера, если он
                есть в
                наличии. Если нужного изделия нет на складе, мы известим Вас о его появлении или
                вернем потраченную
                сумму. В
                случае Обмена товара, клиент оплачивает стоимость доставки курьером или возвращает
                изделие в наш
                шоу-рум.
            </p>
        </div>
    </div>
</div>