<div class="container" id="news">
  <div class="box text-center">
  <h3 class="text-uppercase">Новости</h3>
  </div>
  <div id="news-content" class="row" ng-controller"postsController">
    <div class="col-sm-12">


      <div class="post">
        <h4><a href="post.html">Ура, мы открылись!</a></h4>
          <!-- <p class="author-category">By <a href="#">John Slim</a> in <a href="">Fashion and
          style</a></p> -->
        <hr>
        <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit
            amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
            ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <p class="read-more"><a ng-click="test('2016_03_01')" ng-href="#post/2016_03_01" class="btn btn-primary">Продолжить чтение</a></p>
      </div>

      <div class="post">
        <h4><a href="post.html">Супер новость 2!</a></h4>
        <hr>
        <p class="intro">Краткое описание желаемой новости!</p>
        <p class="read-more"><a ng-click="test('2016_04_28')" ng-href="#post/2016_04_28" class="btn btn-primary">Продолжить чтение</a></p>
      </div>

    </div>
  </div>
</div>