<!--<div id="intro">-->
    <!--<div class="item">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="carousel-caption">-->
                    <!--<h1>Anastasia Kondakova</h1>-->
                    <!--<h3>Russian Fashion Designer</h3>-->

                    <!--&lt;!&ndash;<p><a class="btn btn-lg btn-primary scroll-to" href="#content" role="button">View our top picks<br class="hidden-md hidden-lg"> for this week</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p><a class="btn btn-lg btn-default" href="index.html" role="button">View alternative homepage</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</p>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div id="intro-image" class="bgfill">
</div>