<div class="container">
  <div class="box text-center">
    <h3 class="text-uppercase">Магазин</h3>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
          <h3 class="panel-title">Категории</h3>
        </div>

        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked category-menu" id='js-category-menu'>
            <li>
              <a href="" data-category='all'>Одежда </a>
              <ul>
                <li><a href="" data-category='skirts'>Юбки</a></li>
                <li><a href="" data-category='trousers'>Брюки</a></li>
                <li><a href="" data-category='tops'>Топы</a></li>
                <li><a href="" data-category='clothes'>Платья</a></li>
                <li><a href="" data-category='overcoat'>Верхняя одежда</a></li>
                <li><a href="" data-category='accessories'>Аксессуары</a></li>
                <li><a href="" data-category='sales'>Sale</a></li>
              </ul>
            </li>
            <li> <!--  class="active" -->
              <a href=""  data-category='atelier'>Ателье</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="row products" id='js-shop-products'>

      </div>
    </div>
  </div>
</div>
